* {
  padding: 0;
  margin: 0;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  height: 100vh;
}

.square1 {
  background-color: red;
}
.square2 {
  background-color: orange;
}
.square3 {
  background-color: blue;
}

.square {
  height: 15px;
  width: 15px;
  animation: rotate 1s infinite;
}

@keyframes rotate {
  from {
    transform: rotate(-45deg);
  }
  to {
    transform: rotate(45deg);
  }
}
