* {
  padding: 0;
  margin: 0;
}

:root {
  --card-height: 400px;
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.card {
  padding: 0.5em;
  width: calc(var(--card-height) * 2 / 3);
  height: var(--card-height);
  border: 1px solid black;
  border-radius: 8px;
  display: grid;
  grid-template-columns: 10% 80% 10%;
  color: red;
  font-size: 2em;
}

.middle {
  display: grid;
  grid-template-columns: 50% 50%;
  align-items: center;
  text-align: center;
  font-size: 2em;
}

.middle :nth-child(3),
.middle :nth-child(4) {
  transform: rotate(180deg);
}

.right {
  transform: rotate(180deg);
}

.left > div:first-child,
.right > div:first-child {
  padding-left: 3px;
}
