* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --spoiler-color: black;
}

.container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.post {
  width: 80%;
  margin-bottom: 8px;
  background-color: grey;
  padding: 1.3em 1.5em;
  border-radius: 1em;
}

p {
  line-height: 1.3em;
}

.spoiler {
  background: var(--spoiler-color);
  color: var(--spoiler-color);
  transition: all 1s ease-in;
}

.spoiler:hover {
  background: initial;
  color: initial;
}
