@import url("https://fonts.googleapis.com/css2?family=Baloo+Bhai+2:wght@400..800&family=Karla:ital,wght@0,200..800;1,200..800&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --profile-bg: #0d1117;
  --font-color: white;
  --btn-bg: #21262d;
  --username-color: grey;
  --btn-border-color: #373b43;
  --profile-img-border: #2e343b;
  /* --profile-img-border: #c9d1d9; */
  /* --btn-border-color: rgba(255, 255, 255, 0.226); */
}

body {
  color: var(--font-color);
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.profile {
  width: 300px;
  max-width: 400px;
  min-width: 250px;
  background: var(--profile-bg);
  padding: 1em;
  border-radius: 10px;
  font-family: "Noto Sans", sans-serif;
  /* box-shadow: 20px 20px 60px #00000046, inset -20px -20px 60px #ffffff81,
    inset 20px 20px 60px #ffffff81; */
  /* box-shadow: 20px 20px 60px #00000086, inset -15px -20px 60px #272626, */
    /* inset 15px 20px 60px #272626; */
}

.profile-picture {
  display: flex;
  justify-content: center;
}

.profile-picture img {
  width: 100%;
  border: 2px solid var(--profile-img-border);
  border-radius: 50%;
  object-fit: cover;
}

.profile-details {
  margin-top: 1.5em;
}

.name {
  font-weight: 900;
  font-size: 1.8em;
  line-height: 1.1em;
}

.username {
  line-height: 1.3em;
  color: var(--username-color);
}

.bio {
  padding: 1em 0;
}

.edit-profile-btn {
  width: 100%;
  padding: 0.8em 1.5em;
  color: var(--font-color);
  background: var(--btn-bg);
  border: 2px solid var(--btn-border-color);
  border-radius: 10px;
  font-family: "Noto Sans", sans-serif;
  transition: all 1s;
}

.edit-profile-btn:hover {
  border-color: #000;
  font-size: 1em;
}
